body {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
  background: #f2f2f2;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

li {
  margin: 10px;
  list-style: none;
}